/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 18, 2015, 2:41:45 AM
    Author     : Stein-Erik
*/

#boks{
    border-radius: 12px;
    position: relative;
    margin: auto;
    top: 35%;
    background-color: lightgray;
    box-shadow: darkgray 2px 2px 2px;
    width: 500px;
    height: 150px;
}

#inputFelt {
    position: relative;
    left: 23px;
    top: 19px;
    width: 450px;
    height: 40px;
    border-top-width: 2px;
    border-left-width: 2px;
    padding-bottom: 1px;
    font-size: 18px;
    border-radius: 8px;
}