/*--------
[StudyEasy] Screen Stylesheet

version:   1.5
date:      08/01/16
author:    Ingvild, Ane og Sigrid
---------------*/

html {
    
}

#baseLayoutTable{
    
}

body {
    margin:0;
    padding:0;
}


main {
    margin:0;
    overflow:auto;
    padding:0px 40px;
    height: 100%;
}

p1 {
    font: 16px Microsoft YaHei Light;
    font-weight: bold;
    
}

p2{
    font: 14px Microsoft YaHei Light;
}

header{
    padding:30px;
    background:#FFFFFF;
    text-transform: uppercase;
    font: 12px Microsoft YaHei Light;
    margin-left: auto;
    margin-right: auto;
}

footer {
    text-transform: uppercase;
    font: 12px Microsoft YaHei Light;
    width:100%;
    bottom: 0;
    left:0;
    margin:0 auto;
    background: #00BFFF;
    color: #FFFFFF;
    text-align:center;
    text-decoration: none;
}

.footerLenke{
    text-transform: uppercase;
    text-decoration: none;
    font: bold 12px Microsoft YaHei Light ;
    color:#FFFFFF;
}
.footerLenke:hover {
    color:#FFA500;
}


footer, header{
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

.dropdownmenu ul, .dropdownmenu li {
    margin: 0;
    padding: 0;
}
.dropdownmenu ul {
    background: #00BFFF;
    list-style: none;
    width: 100%;
}
.dropdownmenu li {
    float: left;
    position: relative;
    width: 20%; 
}
.dropdownmenu a {
    text-transform: uppercase;
    background: #00BFFF;
    color: #FFFFFF;
    display: block;
    font: bold 12px/20px Microsoft YaHei Light;
    padding: 12px;
    text-align: center;
    text-decoration: none;
}

.dropdownmenu li:hover a {
    background: #000000;
}
#submenu {
    left: 0;
    opacity: 0;
    position: absolute;
    visibility: hidden;
    z-index: 1;
}
li:hover ul#submenu {
    opacity: 1;
    top: 40px;	/* adjust this as per top nav padding top & bottom comes */
    visibility: visible;
}
#submenu li {
    width: 100%;
}
#submenu a:hover {
    background: #FFA500;
}
#submenu a {
    background-color:#000000;
}
#logo {
    height: 80px;
    width: 100px;
}

em {
    color: red;
}

input.red {
    border: 1px solid red;
}

aside{
    float: left;
    width: 300px;
}

.info{
    float: left;
    width: 600px;
    height: 400px;
    border:1px solid red;
    padding:10px;
}

/******* BOTTOM FOOTER START****/
main{
    min-height: 100%;
    margin-bottom: -100px;
}

.space, footer{
    height: 100px;
}

footer{
    height: 100px;
    position: relative;
    z-index: 1;
}
/***** BOTTOM FOOTER END**/


/*****SokeSide*******/
.searchForm{
    float: left;
    position: relative;
    border-radius: 5px;
    outline:none;
    background: whitesmoke;
    border: .2em;
    border-color: graytext;
    font-size: 10pt;
    color: black;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 9.7em;
}

.searchNav ul li{
    margin-top: -20px;
    list-style: none;
    /**height: 100px;**/
    width: 160px;
    padding: 15px 5px 5px 5px;
    display: inline-block;
}

.checkboxes{
    cursor: pointer;
    width: 30px;

}
.searchNav {
    float: left;
    display: inline-block;
    margin-left: -50px;
    width: 13em;
}
.searchInfo{
    display: inline-block;
    margin-left: 190px;
    margin-top: -180px;
    width: 600px;
    height: 85%;
    padding:10px;
    overflow:auto;
}
.searchInfo2{
    display: inline-block;
    width: auto;
    height: 85%;
    float: left;
}
.oversikt{
    size: 15px;       
    text-align: center;
    font: 12px Microsoft YaHei Light;
    float: right;
    padding: 4px;
    width: 70px;
    cursor:pointer;
    margin-top:-18px; 
}
    
.searchInfo table td{
    width: 38em;
    border-top: solid black 1px;
    border-bottom: solid black 1px;
}

/*****SokeSide*****/
#tekst {
    color: red;
}


.fargeTekst{
    border: 1px solid gray;
    width: .8em; 
    height:.3em;
}

//Forside med ikon og pop-up-vindu

a[class*="fontawesome-"]:before{
}
span[class*="fontawesome-"]:before {
	font-family: 'FontAwesome', sans-serif;
	-webkit-font-smoothing: antialiased;
}

.ikonForside{
    text-align: right;
}

.ikonForside .knappForside, a::-moz-focus-inner {
	border: 0;
	padding: 0;
}

#slettKnappForside, #leggTilKnappForside, #sÃ¸keKnappForside{
    padding-top: .3em;
}

.ikonForside .knappForside, .infoKnappForside, .lukk {
        cursor:pointer;
	background: #00BFFF;
	color: #FFFFFF;
	padding: .2em .9em;
        border: 0;
        margin: .1em;
        font-size: 110%;
        text-transform: none;
        text-decoration: none;
        border:none; 
        outline:none; 
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        padding-left: .8em;
}

.ikonForside a:hover{
    background: #3598db;
}
.ikonForside .knappForside:hover {
	background: #3598db;
}

.infoVinduForside {
	position: fixed;
	font-family: Microsoft YaHei Light;
        text-align: left;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
        

.infoVinduForside:target {
	opacity:1;
	pointer-events: auto;
}

.infoVinduForside > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}

.lukk {
	color: #FFFFFF;
	line-height: 10px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 15px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
    
.checkboxes{
    width: 30px;
}

#baseLayoutTable{
    border: 0px;
    padding: 0px; 
    width: 900px;
    
}
.slettknapp{
    width: 70px;
    height: 23px;
    margin: 2px;
    font-family: Microsoft YaHei Light;  
    cursor: pointer;
    float: right;
}

.tab table td{
    border-bottom: solid black 1px;
    border-top: solid black 1px;
}
.tab table{
    width:800px;
}

.defaultKnapp{
    height: 2em;
    font-size: .9em;
    white-space: nowrap;
    cursor: pointer;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    color: #333;
    border: 1px solid;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-family: Microsoft YaHei Light;  
    font-weight: bold;
}
.defaultKnapp:hover{
    color: #333333;
    background-color: #e6e6e6;
    color: #333333;
    text-decoration: none;
    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}

.defaultKnapp:disabled{
    cursor: default;
    background-image: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
    box-shadow: none;
    font-weight: lighter;
}

.defaultKnapp:active{
    background-color: #cccccc;
    background-image: none;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.fieldsetDefault{
    font: 14px Microsoft YaHei Light;
}
.slettknappMinSide{
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    color: #333;
    border: 1px solid;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 70px;
    height: 23px;
    margin: 2px;
    font-family: Microsoft YaHei Light;  
    cursor: pointer;
    display: inline-block;
    float: right;
}

.slettknappMinSide:hover{
    color: #333333;
    background-color: #e6e6e6;
    color: #333333;
    text-decoration: none;
    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}

.slettknappMinSide:disabled{
    cursor: default;
    background-image: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
    box-shadow: none;
    font-weight: lighter;
}

.slettknappMinSide:active{
    background-color: #cccccc;
    background-image: none;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.abbKnapperSokeSide{
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    color: #00BFFF;
    border: 1px solid lightslategray;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 70px;
    height: 20px;
    position: absolute;
    margin-top: -20px;
    margin-left: 525px;
    font-family: Microsoft YaHei Light;  
    cursor: pointer;
    display: inline-block;
    float: right;
}

.abbKnapperSokeSide:hover{
    color: #00BFFF;
    background-color: #e6e6e6;
    border: 1px solid lightslategray;
    text-decoration: none;
    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}

.abbKnapperSokeSide:disabled{
    cursor: default;
    background-image: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
    box-shadow: none;
    font-weight: lighter;
}

.abbKnapperSokeSide:active{
    background-color: #cccccc;
    background-image: none;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}