#ILBoks{
    margin-top: auto;
    margin: auto;
    border-radius: 12px;
    position: relative;
    
    top: -25%;
    /* left: 50%; */
    background-color: lightgray;
    box-shadow: darkgray 2px 2px 2px;
    width: 500px;
    height: 430px;
    /* margin-left: -250px; */
    /* margin-top: -175px; */
}

#section {
    position: absolute;
    top: 110%;
    left: 50%;
    margin-left: -250px;
    margin-top: -250px;
    width: 500px;
}

#inputwrap {
    border-radius: 8px;
    border: 1px solid black;
    background: white;
    witdh: 480px;
    padding: 10px;
    margin: 20px;
}

#loggInnBilde {
    border-radius: 8px; 
    padding: 10px; 
    top: 10%; 
    margin-left: 78px;
}

#loggInnGlemtPassord{
    position: absolute;
    top: 93%;
    left: 75%;
}

#loggInnKnapp{
    width: 460px;
    padding: 15px 10px;
    position: absolute;
    top: 145%;
    left: 50%;
    margin-left: -230px;
    margin-top: -277px;
    background-color: dodgerblue;
    color: white;
    border-radius: 12px;
}

#feilmelding{
    position: absolute;
    top: 110%;
    left: 52%;
    margin-left: -246px;
    margin-top: -203px;
    width: 400px;
    color: red;
}
input{
    border: none;
    width: 160px;
    padding: 5px 10px;
    outline: none;
}
