/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23.jan.2016, 14:07:02
    Author     : Ingvild
*/

.slettknappMinSide{
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    color: #00BFFF;
    border: 1px solid;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 70px;
    height: 23px;
    margin: 2px;
    font-family: Microsoft YaHei Light;  
    cursor: pointer;
    display: inline-block;
    float: right;
}

.slettknappMinSide:hover{
    color: #00BFFF;
    background-color: #e6e6e6;
    text-decoration: none;
    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}

.slettknappMinSide:active{
    background-color: #cccccc;
    background-image: none;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.tabMinSide table td{
    border-bottom: solid black 1px;
}
.tabMinSide table{
    width:100%;
}