/*--------
[StudyEasy] Screen Stylesheet

version:   1.5
date:      18/01/16
author:    Sindre
---------------*/

#velgRomSøkeBokser{
    display: inline-block;
}

#RomInfo{
    display: inline-block;
    width: 60%;
}

.ikonVelgRom{
    list-style-type: none; 
}

.tekst{
    font: 14px Microsoft YaHei Light;    
}

#etasjeTeller{
    float: bottom;
    display: inline-block;
    font: 14px Microsoft YaHei Light;
    font-weight: bold;
    
}
#romNavn{
    display:inline-block;
    text-align: right;
    font: 14px Microsoft YaHei Light;
    font-weight: bold;
}

.planRom{
    fill: #00ff00;
}

.planRomOpptatt{
    fill: #FFA500;
}

.planRom:hover{
    fill: #00BFFF;
    cursor:pointer;
}

.planRomOpptatt:hover{
    fill: #FFFF00;
    cursor:pointer;
}
.plantegning{
    width: 100%;
}

.pantegningObject{
    float:bottom;
    width: 40em;
    position: absolute;
}

.ikonForside{
    list-style-type: none; 
    z-index:1;
    display: inline-block;
    float:right;
}

.knappVelgRom{
    padding: 10px
}

.velgRomForm{
    width: 12em;
    padding:0 0 .3em 0;
}

#velgRomFarge{
    float: left; 
    margin-top: 24em;
}