

#velgRomSøkeSVG{
    
}

#Gr103{
    fill:blue;
}

#plantegningEtasje1 {
    width: 100%;
}

#velgRomSøkeSVG{
    width: 100%;
}
#plantegningEtasje1{
    width: 100%;
}
#plantegningEtasje2{
    width: 100%;
}
#plantegningEtasje3{
    width: 100%;
}
#plantegningEtasje4{
    width: 100%;
}
