/*--------
[StudyEasy] Screen Stylesheet

version:   1.5
date:      08/01/16
author:    Ingvild, Ane og Sigrid
---------------*/



body {
    margin:0;
    padding:0;
}

main {
    margin:0 auto;
    overflow:auto;
    padding:40px;
    width:940px;
}

header{
    padding:30px;
    background:#FFFFFF;
    text-transform: uppercase;
    font: 12px Microsoft YaHei Light;

}

footer {
    text-transform: uppercase;
    font: 12px Microsoft YaHei Light;
    width:100%;
    bottom: 0;
    left:0;
    margin:0 auto;
    background: #00BFFF;
    color: #FFFFFF;
    text-align:center;
    text-decoration: none;
}

.footerLenke{
    text-transform: uppercase;
    text-decoration: none;
    font: bold 12px Microsoft YaHei Light ;
    color:#FFFFFF;
}
.footerLenke:hover {
    color:#FFA500;
}


footer, header{
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

.dropdownmenu ul, .dropdownmenu li {
    margin: 0;
    padding: 0;
}
.dropdownmenu ul {
    background: #00BFFF;
    list-style: none;
    width: 100%;
}
.dropdownmenu li {
    float: left;
    position: relative;
}
.dropdownmenu a {
    text-transform: uppercase;
    background: #00BFFF;
    color: #FFFFFF;
    display: block;
    font: bold 12px/20px Microsoft YaHei Light;
    padding: 12px 90px;
    text-align: center;
    text-decoration: none;
}

.dropdownmenu li:hover a {
    background: #000000;
}
#submenu {
    left: 0;
    opacity: 0;
    position: absolute;
    visibility: hidden;
    z-index: 1;
}
li:hover ul#submenu {
    opacity: 1;
    top: 40px;	/* adjust this as per top nav padding top & bottom comes */
    visibility: visible;
}
#submenu li {
    width: 100%;
}
#submenu a:hover {
    background: #FFA500;
}
#submenu a {
    background-color:#000000;
}
#logo {
    height: 80px;
    width: 100px;
}

/******* BOTTOM FOOTER START****/
main{
    min-height: 100%;
    margin-bottom: -100px;
}

.space, footer{
    height: 100px;
}

footer{
    height: 100px;
    position: relative;
    z-index: 1;
}
/***** BOTTOM FOOTER END**/

.searchForm{
    float: left;
    position: relative;
    border-width: 1px 1px 0px 1px; 
    padding: 2px;
    background-color: lightgray;
    border-radius: 5px;
}
.searchButton{
    cursor: pointer;
    outline: medium none;
    text-align: center;
    padding-right: 10px;  
    padding-left: 10px;
    text-transform: uppercase;
    text-decoration: none;
    font: bold 12px Microsoft YaHei Light ;
    color: #FFF;
    background: #00BFFF;
    border-radius: 5px;
    
}
#searchEng{
    margin: 5px auto;
    width: 300px;
}
.searchNav ul li{
    margin: 0px;
    list-style: none;
    height: 300px;
    width: 260px;
    padding: 15px 5px 5px 5px;
    font: bold 12px Microsoft YaHei Light ;  
   
    display: inline-block;
}
.checkboxes{
    cursor: pointer;
    
}
.searchNav {
    
    display: inline-block;
}
.searchInfo{
    
}
